<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

        <!-- Libs CSS -->
    <link href="/css/feather.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/dragula.min.css" rel="stylesheet" />
    <link href="/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="/css/dropzone.css" rel="stylesheet" />
    <link href="/css/magnific-popup.css" rel="stylesheet" />
    <link href="/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/css/tagify.css" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet">
    <link href="/css/tippy.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="/css/prism-okaidia.css" rel="stylesheet">
    <link href="/css/theme.min.css" rel="stylesheet">
    

</head>
<body>