    <!-- Scripts -->
    <!-- Libs JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/odometer.min.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/flatpickr.min.js"></script>
    <script src="/js/jquery.inputmask.min.js"></script>
    <script src="/js/apexcharts.min.js"></script>
    <script src="/js/quill.min.js"></script>
    <script src="/js/file-upload-with-preview.min.js"></script>
    <script src="/js/dragula.min.js"></script>
    <script src="/js/bs-stepper.min.js"></script>
    <script src="/js/dropzone.min.js"></script>
    <script src="/js/jQuery.print.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/prism-scss.min.js"></script>
    <script src="/js/tagify.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/tippy-bundle.umd.min.js"></script>
    <script src="/js/typed.min.js"></script>
    <script src="/js/jsvectormap.min.js"></script>
    <script src="/js/world.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap5.min.js"></script>
    <script src="/js/dataTables.responsive.min.js"></script>
    <script src="/js/responsive.bootstrap5.min.js"></script>
    <script src="/js/prism-toolbar.min.js"></script>
    <script src="/js/prism-copy-to-clipboard.min.js"></script>

    <script src="/js/theme.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>    

</body>
</html>