<% if(user.u_name) { %>
    <li class="dropdown ms-2">
        <a
            class="rounded-circle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
        >
            <div class="avatar avatar-md avatar-indicators avatar-online">
                <img
                    alt="avatar"
                    src="<%- thumbnail %>"
                    class="rounded-circle"
                />
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end shadow">
            <div class="dropdown-item">
                <div class="d-flex">
                    <div class="avatar avatar-md avatar-indicators avatar-online">
                        <img
                            alt="avatar"
                            src="<%- thumbnail %>"
                            class="rounded-circle"
                        />
                    </div>
                    <div class="ms-3 lh-1">
                        <h5 class="mb-1"><%= `${user.f_name} ${user.l_name}` %> </h5>
                        <p class="mb-0 text-muted"><%= user.email %> </p>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
    
    
                <li>
                    <a class="dropdown-item" href="./pages/profile-edit.html">
                        <i class="fe fe-user me-2"></i>Profile
                    </a>
                </li>
                <% if(user.is_admin || user.is_owner){ %>
                    <li>
                        <a
                            class="dropdown-item"
                            href="/admin"
                        >
                            <i class="fe fe-star me-2"></i>Admin
                        </a>
                    </li>
                <% } %>  
                <li>
                    <a class="dropdown-item" href="/dashboard">
                        <i class="fe fe-settings me-2"></i>Settings
                    </a>
                </li>
            </ul>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
                <li>
                    <a class="dropdown-item" href="/logout">
                        <i class="fe fe-power me-2"></i>Sign Out
                    </a>
                </li>
            </ul>
        </div>
    </li>
<% }else{ %> 

    <div>
        <a href="/Login" class="btn btn-white shadow">Sign In</a>
        <a href="/Register" class="btn btn-primary">Sign Up</a>
    </div>

<% } %> 